* {
    margin: 0;
    padding: 0;
}

img {
    padding: 10px;
    margin: 0;
    margin-top: -100px; 
    margin-left: 48%;
    position: fixed;
}

h4 {
    color: black;
    padding-left: 5%;
}
/* Random help text */
#helpful-hint {
    color: black;
    padding-left: 5%;
    padding-right: 50%;
}
/* Card elements */
.card {
    margin-top: 10vh;
    margin-left: 25vw;
    width: 50vw;
    display: flex;
    justify-content: center;
    align-items: center;
}

p {
    color: white;
}
/* Card content */
.card-content {
    display: flex;
    flex-flow: column wrap;
    justify-content: center;
    align-items: center;
}
/* All buttons */
.btn {
    margin: 10px;
}
/* Clear Score and Play Again buttons */
.highscore-btn {
    margin-left: 17vw;
    display: flex;
    justify-content: center;
    width: 100%;
}

input {
    color: white;
    text-align: center;
}
/* Dropdown subtext */
.subtext {
    color: lightgrey;
}