* {
    margin: 0;
    padding: 0;
}

img {
    padding: 0;
    margin: 0;
    margin-top: -160px; 
    margin-left: 50%;
    position: fixed;
}

h4 {
    color: black;
    padding-left: 5%;
}

p {
    color: black;
    padding-left: 5%;
    padding-right: 50%;
}
